<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ContactUs</title>
</head>
<body>
{% extends 'base.html' %}

{% block content %}
<div style="margin: 60px;">
    <h1>Biz bilan bo'g'lanish uchun </h1>
    <a href="https://t.me/Shahzod23_04">Telegram manzilimiz</a>
    <p><a href="">Phone Number: </a>+998939621716</p>
</div>
{% endblock content %}
</body>
</html>